:root {
  --inpush-spacing: 20px;
}

.inpush {
  visibility: hidden;
  z-index: 999999999;
  transition-duration: 0.3s;
  transition-property: opacity, transform;
}

@media print {
  .inpush {
    display: none !important;
  }
}

.inpush-clickable {
  cursor: pointer !important;
}

.inpush * {
  margin: 0 !important;
  width: initial !important;
  height: initial !important;
  padding: initial !important;
  line-height: normal !important;
}

.inpush.on-fadeIn {
  visibility: visible !important;
  animation: ease 0.3s fadeIn forwards !important;
}

.inpush.on-slideInUp {
  visibility: visible !important;
  animation: ease 0.3s slideInUp forwards !important;
}

.inpush.on-slideInDown {
  visibility: visible !important;
  animation: ease 0.3s slideInDown forwards !important;
}

.inpush.on-zoomIn {
  visibility: visible !important;
  animation: ease 0.3s zoomIn forwards !important;
}

.inpush.on-bounceIn {
  visibility: visible !important;
  animation: ease 0.3s bounceIn forwards !important;
}

.inpush.off-fadeOut {
  visibility: visible !important;
  animation: ease 0.3s fadeOut both !important;
}

.inpush.off-slideOutUp {
  visibility: visible !important;
  animation: ease 0.3s slideOutUp both !important;
}

.inpush.off-slideOutDown {
  visibility: visible !important;
  animation: ease 0.3s slideOutDown both !important;
}

.inpush.off-zoomOut {
  visibility: visible !important;
  animation: ease 0.3s zoomOut forwards !important;
}

.inpush.off-bounceOut {
  visibility: visible !important;
  animation: ease 0.3s bounceOut forwards !important;
}

.inpush-close {
  border: none !important;
  background: none !important;
  opacity: 0.4 !important;
  transition: 0.15s all !important;
  min-width: unset !important;
  color: unset !important;
  padding: 2px !important;
}

.inpush-close:hover {
  cursor: pointer !important;
  opacity: 0.6 !important;
}

.inpush-rounded {
  border-radius: 8px !important;
}

.inpush-top_left {
  position: fixed !important;
  max-width: 90% !important;
  left: var(--inpush-spacing);
  top: var(--inpush-spacing);
}

.inpush-top_center {
  position: fixed !important;
  max-width: 90% !important;
  margin: auto;
  left: 0;
  right: 0;
  top: var(--inpush-spacing);
  width: max-content;
}

.inpush-top_right {
  position: fixed !important;
  max-width: 90% !important;
  right: var(--inpush-spacing);
  top: var(--inpush-spacing);
}

.inpush-middle_left {
  position: fixed !important;
  max-width: 90% !important;
  left: var(--inpush-spacing);
  margin: auto 0;
  top: calc(45%);
}

.inpush-middle_center {
  position: fixed !important;
  max-width: 90% !important;
  margin: auto;
  top: 0;
  left: 0;
  right: 0;
  width: max-content;
}

.inpush-middle_right {
  position: fixed !important;
  max-width: 90% !important;
  right: var(--inpush-spacing);
  margin: auto 0;
  top: calc(45%);
}

.inpush-bottom_left {
  position: fixed !important;
  max-width: 90% !important;
  left: var(--inpush-spacing);
  bottom: var(--inpush-spacing);
}

.inpush-bottom_center {
  position: fixed !important;
  max-width: 90% !important;
  margin: auto;
  left: 0;
  right: 0;
  bottom: var(--inpush-spacing);
  width: max-content;
}

.inpush-bottom_right {
  position: fixed !important;
  max-width: 90% !important;
  right: var(--inpush-spacing);
  bottom: var(--inpush-spacing);
}

.inpush-top {
  position: initial !important;
  display: none;
  max-width: 100% !important;
}

.inpush-bottom {
  position: initial !important;
  display: none;
  max-width: 100% !important;
}

.inpush-top_floating {
  position: fixed !important;
  display: none;
  width: 100% !important;
}

.inpush-bottom_floating {
  position: fixed !important;
  display: none;
  width: 100% !important;
  bottom: 0 !important;
}

.inpush-wrapper {
  padding: 10px !important;
  color: #000;
  border: 0 solid #000;
  background: #fff;
  position: relative !important;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji",
    "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji" !important;
}

.inpush-wrapper-straight {
  border-radius: 0 !important;
}

.inpush-wrapper-rounded {
  border-radius: 8px !important;
}

.inpush-wrapper-round {
  border-radius: 100px !important;
}

.inpush-wrapper-shadow {
  box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.08),
    0 4px 6px -2px rgba(0, 0, 0, 0.04) !important;
}

.inpush-site {
  font-size: 10px !important;
  display: inline-block !important;
}

.inpush-toast-pulse {
  margin: 18px !important;
  display: block !important;
  width: 25px !important;
  height: 25px !important;
  border-radius: 50% !important;
  background: #17bf21;
  box-shadow: 0 0 0 rgba(39, 204, 48, 0.4) !important;
  animation: inpush-toast-pulse 2s infinite !important;
}

@keyframes inpush-toast-pulse {
  0% {
    box-shadow: 0 0 0 0 rgba(39, 204, 48, 0.4);
  }
  70% {
    box-shadow: 0 0 0 10px rgba(204, 169, 44, 0);
  }
  100% {
    box-shadow: 0 0 0 0 rgba(204, 169, 44, 0);
  }
}

.inpush-toast-star {
  font-size: 13px !important;
  color: #ffc100 !important;
}

.inpush-agreement-checkbox {
  display: flex !important;
  align-items: center !important;
}

.inpush-agreement-checkbox-input {
  appearance: initial !important;
  -webkit-appearance: checkbox !important;
  -moz-appearance: checkbox !important;
}

.inpush-agreement-checkbox-text {
  font-size: 12px !important;
  margin: 0 !important;
  margin-left: 5px !important;
  margin-top: 2px !important;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes fadeOut {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

@keyframes slideInUp {
  from {
    transform: translate3d(0, 100%, 0);
    visibility: visible;
  }
  to {
    transform: translate3d(0, 0, 0);
  }
}

@keyframes slideInDown {
  from {
    transform: translate3d(0, -100%, 0);
    visibility: visible;
  }
  to {
    transform: translate3d(0, 0, 0);
  }
}

@keyframes slideOutUp {
  from {
    transform: translate3d(0, 0, 0);
  }
  to {
    visibility: hidden;
    transform: translate3d(0, -100%, 0);
  }
}

@keyframes slideOutDown {
  from {
    transform: translate3d(0, 0, 0);
  }
  to {
    visibility: hidden;
    transform: translate3d(0, 100%, 0);
  }
}

@keyframes zoomIn {
  from {
    opacity: 0;
    transform: scale3d(0.3, 0.3, 0.3);
  }
  50% {
    opacity: 1;
  }
}

@keyframes zoomOut {
  from {
    opacity: 1;
  }
  50% {
    opacity: 0;
    transform: scale3d(0.3, 0.3, 0.3);
  }
  to {
    opacity: 0;
  }
}

@keyframes bounceIn {
  20%,
  40%,
  60%,
  80%,
  from,
  to {
    animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
  }
  0% {
    opacity: 0;
    transform: scale3d(0.3, 0.3, 0.3);
  }
  20% {
    transform: scale3d(1.1, 1.1, 1.1);
  }
  40% {
    transform: scale3d(0.9, 0.9, 0.9);
  }
  60% {
    opacity: 1;
    transform: scale3d(1.03, 1.03, 1.03);
  }
  80% {
    transform: scale3d(0.97, 0.97, 0.97);
  }
  to {
    opacity: 1;
    transform: scale3d(1, 1, 1);
  }
}

@keyframes bounceOut {
  20% {
    transform: scale3d(0.9, 0.9, 0.9);
  }
  50%,
  55% {
    opacity: 1;
    transform: scale3d(1.1, 1.1, 1.1);
  }
  to {
    opacity: 0;
    transform: scale3d(0.3, 0.3, 0.3);
  }
}

.inpush-button-bar-wrapper {
  width: 100% !important;
  display: flex;
  justify-content: center;
}

.inpush-button-bar-content {
  display: flex !important;
  flex-direction: column !important;
}

.inpush-button-bar-row {
  display: flex !important;
  flex-direction: column !important;
}

.inpush-button-bar-title {
  font-size: 18px !important;
  font-weight: 700 !important;
  margin-bottom: 15px !important;
}

.inpush-button-bar-middle {
  display: flex !important;
  margin-bottom: 10px !important;
}

.inpush-button-bar-middle .inpush-close {
  margin-left: 10px !important;
}

.inpush-button-bar-button {
  flex-grow: 1 !important;
  font-size: 14px !important;
  background: #fff;
  border-radius: 4px !important;
  padding: 8px 12px !important;
  text-align: center !important;
  font-weight: 700 !important;
  border: 0 !important;
}

@media (min-width: 768px) {
  .inpush-button-bar-row {
    flex-direction: row !important;
    align-items: center !important;
  }
  .inpush-button-bar-title {
    margin-right: 20px !important;
    margin-bottom: 0 !important;
  }
  .inpush-button-bar-middle {
    margin-bottom: 0 !important;
    align-items: center !important;
  }
  .inpush-button-bar-middle .inpush-close {
    margin-left: 20px !important;
  }
}

@media (min-width: 576px) {
  .inpush-button-modal-wrapper {
    max-width: 450px !important;
  }
}

.inpush-button-modal-content {
  padding: 10px !important;
  display: flex !important;
  flex-direction: column !important;
  align-items: center !important;
}

.inpush-button-modal-image {
  max-width: 80%;
  height: auto;
  margin-bottom: 25px !important;
}

.inpush-button-modal-header {
  display: flex !important;
  justify-content: right !important;
}

.inpush-button-modal-title {
  font-weight: 700 !important;
  font-size: 24px !important;
  flex-grow: 1 !important;
  margin-bottom: 15px !important;
}

.inpush-button-modal-description {
  font-size: 14px !important;
  margin-bottom: 20px !important;
  text-align: center !important;
}

.inpush-button-modal-button-wrapper {
  display: flex !important;
  justify-content: center !important;
  flex-grow: 1 !important;
  margin-bottom: 20px !important;
}

.inpush-button-modal-button {
  background: #000;
  border: 0 !important;
  font-size: 14px !important;
  padding: 12px 38px !important;
  color: #fff;
  border-radius: 50px !important;
  transition: 0.3s opacity !important;
  text-align: center !important;
}

.inpush-button-modal-button:hover {
  opacity: 0.95 !important;
  text-decoration: none !important;
}

.inpush-button-modal-wrapper .inpush-close {
  position: absolute !important;
  right: 20px !important;
}

.inpush-collector-bar-wrapper {
  width: 100% !important;
  display: flex;
  justify-content: center;
}

.inpush-collector-bar-content {
  display: flex !important;
  flex-direction: column !important;
}

.inpush-collector-bar-row {
  display: flex !important;
  flex-direction: column !important;
  margin-bottom: 5px !important;
}

.inpush-collector-bar-title {
  flex-grow: 1 !important;
  font-weight: 700 !important;
  margin-bottom: 15px !important;
}

.inpush-collector-bar-form {
  display: flex !important;
  flex-direction: column !important;
}

.inpush-collector-bar-form-content {
  display: flex !important;
  align-items: center !important;
}

.inpush-collector-bar-form .inpush-agreement-checkbox {
  margin-top: 10px !important;
}

.inpush-collector-bar-form-content input {
  flex-grow: 1 !important;
  border: 0 !important;
  background: #fff;
  padding: 8px 12px !important;
  color: #495057;
  font-size: 14px !important;
  box-shadow: 0 3px 6px -1px rgba(0, 0, 0, 0.12) !important;
  border-radius: 5px !important;
  margin-right: 10px !important;
}

.inpush-collector-bar-form-content input:focus {
  outline: 0;
}

.inpush-collector-bar-form-content button {
  cursor: pointer !important;
  background: #000;
  border: 0 !important;
  font-size: 14px !important;
  padding: 8px 13px !important;
  color: #fff;
  box-shadow: 0 3px 6px -1px rgba(0, 0, 0, 0.12) !important;
  border-radius: 5px !important;
  margin-right: 15px !important;
}

.inpush-collector-bar-form-content button:focus {
  outline: 0;
}

@media (min-width: 768px) {
  .inpush-collector-bar-row {
    flex-direction: row !important;
    align-items: center !important;
  }
  .inpush-collector-bar-title {
    margin-right: 20px !important;
    margin-bottom: 0 !important;
  }
  .inpush-collector-bar-form .inpush-agreement-checkbox {
    margin-top: 5px !important;
  }
}

.inpush-collector-modal-wrapper {
  padding: 0 !important;
}

@media (min-width: 576px) {
  .inpush-collector-modal-wrapper {
    max-width: 550px !important;
  }
}

.inpush-collector-modal-image-holder {
  min-width: 100% !important;
  height: 300px !important;
  background-repeat: no-repeat !important;
  background-size: cover !important;
  background-position: center !important;
  border-top-left-radius: 8px !important;
  border-top-right-radius: 8px !important;
}

.inpush-collector-modal-content {
  padding: 30px !important;
  display: flex !important;
  flex-direction: column !important;
}

.inpush-collector-modal-header {
  display: flex !important;
  justify-content: right !important;
}

.inpush-collector-modal-title {
  font-weight: 700 !important;
  font-size: 24px !important;
  flex-grow: 1 !important;
  margin-bottom: 25px !important;
  text-align: center !important;
}

.inpush-collector-modal-description {
  font-size: 16px !important;
  margin-bottom: 25px !important;
  text-align: center !important;
}

.inpush-collector-modal-form {
  display: flex !important;
  flex-direction: column !important;
  margin-bottom: 20px !important;
}

.inpush-collector-modal-row {
  display: flex !important;
  flex-direction: row !important;
  justify-content: space-around !important;
  margin-bottom: 15px !important;
}

.inpush-collector-modal-row input {
  border: 1px solid #d8d8d8 !important;
  background: #fff;
  padding: 12px 12px !important;
  color: #495057;
  font-size: 14px !important;
  border-radius: 5px !important;
  flex-grow: 1 !important;
  margin-right: 10px !important;
  transition: 0.3s border !important;
}

.inpush-collector-modal-row input:hover {
  border: 1px solid #e5e5e5 !important;
}

.inpush-collector-modal-row button {
  cursor: pointer !important;
  background: #000;
  border: 0 !important;
  font-size: 14px !important;
  font-weight: 700;
  padding: 12px 14px !important;
  color: #fff;
  border-radius: 5px !important;
  transition: 0.3s opacity !important;
}

.inpush-collector-modal-row button:hover {
  opacity: 0.95 !important;
}

.inpush-collector-modal-wrapper .inpush-close {
  position: absolute !important;
  right: 20px !important;
}

.inpush-collector-two-modal-wrapper {
  padding: 0 !important;
  display: flex !important;
  flex-direction: column !important;
}

.inpush-collector-two-modal-image-holder {
  min-width: 100% !important;
  height: 250px !important;
  background-repeat: no-repeat !important;
  background-size: cover !important;
  background-position: center !important;
  border-top-left-radius: 8px !important;
  border-top-right-radius: 8px !important;
}

.inpush-collector-two-modal-content {
  padding: 30px !important;
  display: flex !important;
  flex-direction: column !important;
}

.inpush-collector-two-modal-header {
  display: flex !important;
  justify-content: right !important;
}

.inpush-collector-two-modal-title {
  font-weight: 700 !important;
  font-size: 24px !important;
  flex-grow: 1 !important;
  margin-bottom: 25px !important;
  text-align: center !important;
}

.inpush-collector-two-modal-description {
  font-size: 16px !important;
  margin-bottom: 25px !important;
  text-align: center !important;
}

.inpush-collector-two-modal-form {
  margin-bottom: 20px !important;
}

.inpush-collector-two-modal-row {
  display: flex !important;
  flex-direction: column !important;
  margin-bottom: 15px !important;
}

.inpush-collector-two-modal-row input {
  border: 1px solid #d8d8d8 !important;
  background: #fff;
  padding: 12px 12px !important;
  color: #495057;
  font-size: 14px !important;
  border-radius: 5px !important;
  flex-grow: 1 !important;
  margin-bottom: 10px !important;
  transition: 0.3s border !important;
}

.inpush-collector-two-modal-row input:hover {
  border: 1px solid #e5e5e5 !important;
}

.inpush-collector-two-modal-row button {
  flex-grow: 1 !important;
  cursor: pointer !important;
  background: #000;
  border: 0 !important;
  font-size: 16px !important;
  font-weight: 700;
  padding: 12px 14px !important;
  color: #fff;
  border-radius: 5px !important;
  transition: 0.3s opacity !important;
}

.inpush-collector-two-modal-row button:hover {
  opacity: 0.95 !important;
}

.inpush-collector-two-modal-wrapper .inpush-close {
  position: absolute !important;
  right: 20px !important;
}

@media (min-width: 768px) {
  .inpush-collector-two-modal-wrapper {
    max-width: 700px !important;
    flex-direction: row !important;
  }
  .inpush-collector-two-modal-image-holder {
    min-width: 300px !important;
    height: auto !important;
    background-repeat: no-repeat !important;
    background-size: cover !important;
    background-position: center !important;
    border-top-left-radius: 8px !important;
    border-bottom-left-radius: 8px !important;
  }
}

@media (min-width: 576px) {
  .inpush-conversions-counter-wrapper {
    width: 300px !important;
  }
}

.inpush-conversions-counter-content {
  display: flex !important;
  flex-direction: column !important;
  align-items: center !important;
}

.inpush-conversions-counter-header {
  display: flex !important;
  flex-direction: row !important;
  align-items: center !important;
  justify-content: space-around !important;
  width: 100% !important;
  margin-bottom: 5px !important;
}

.inpush-conversions-counter-number {
  padding: 3px 18px !important;
  border-radius: 4px !important;
  font-weight: bolder !important;
  font-size: 21px !important;
  margin-right: 5px !important;
}

.inpush-conversions-counter-title {
  font-size: 15px !important;
  margin-bottom: 0 !important;
}

.inpush-conversions-counter-time {
  font-size: 12px !important;
  margin-bottom: 0 !important;
  color: grey;
}

.inpush-conversions-counter-close {
  align-self: end !important;
}

@media (min-width: 576px) {
  .inpush-cookie-notification-wrapper {
    max-width: 400px !important;
  }
}

.inpush-cookie-notification-content {
  display: flex !important;
  flex-direction: column !important;
}

.inpush-cookie-notification-header {
  display: flex !important;
  flex-direction: row !important;
  align-items: center !important;
}

.inpush-cookie-notification-image {
  min-width: 50px !important;
  height: 50px !important;
  margin-right: 8px !important;
}

.inpush-cookie-notification-description {
  font-size: 14px !important;
  margin-bottom: 0 !important;
}

.inpush-cookie-notification-close {
  align-self: end !important;
}

.inpush-cookie-notification-url {
  font-weight: 700 !important;
}

.inpush-cookie-notification-button {
  border-radius: 4px !important;
  padding: 6px !important;
  text-align: center !important;
  font-weight: 700 !important;
  font-size: 16px !important;
  margin: 10px 0 !important;
  display: block !important;
  width: 100% !important;
  border: 0 !important;
  transition: opacity 0.3s !important;
}

.inpush-cookie-notification-button:hover {
  opacity: 0.9 !important;
  cursor: pointer !important;
}

@media (min-width: 576px) {
  .inpush-countdown-collector-wrapper {
    max-width: 420px !important;
  }
}

.inpush-countdown-collector-content {
  padding: 5px !important;
  display: flex !important;
  flex-direction: column !important;
  align-items: center !important;
}

.inpush-countdown-collector-header {
  width: 100% !important;
  display: flex !important;
}

.inpush-countdown-collector-title {
  flex-grow: 1 !important;
  text-align: center !important;
  font-weight: 700 !important;
  font-size: 18px !important;
  margin-bottom: 0 !important;
}

.inpush-countdown-collector-description {
  font-size: 14px !important;
  margin-bottom: 25px !important;
}

.inpush-countdown-collector-content-title {
  font-weight: 700 !important;
  font-size: 12px !important;
  margin-bottom: 12.5px !important;
  text-decoration: underline;
}

.inpush-countdown-collector-timer {
  display: flex !important;
  flex-direction: row !important;
  width: 100% !important;
  justify-content: space-between !important;
  margin-bottom: 12.5px !important;
}

.inpush-countdown-collector-timer-block {
  display: flex !important;
  flex-direction: column !important;
  align-items: center !important;
}

.inpush-countdown-collector-time {
  padding: 4px 8px !important;
  background: #000;
  color: #fff;
  border-radius: 3px !important;
  width: 35px !important;
  text-align: center !important;
}

.inpush-countdown-collector-time-text {
  font-size: 10px !important;
}

.inpush-countdown-collector-form {
  display: flex !important;
  flex-direction: column !important;
  margin-bottom: 15px !important;
}

.inpush-countdown-collector-row {
  display: flex !important;
  flex-direction: row !important;
  margin-bottom: 15px !important;
}

.inpush-countdown-collector-row input {
  border: 0 !important;
  background: #fff;
  padding: 6px 12px !important;
  color: #495057;
  font-size: 14px !important;
  box-shadow: 0 3px 6px -1px rgba(0, 0, 0, 0.12) !important;
  border-bottom-left-radius: 3px !important;
  border-top-left-radius: 3px !important;
}

.inpush-countdown-collector-row input:focus {
  outline: 0;
}

.inpush-countdown-collector-row button {
  cursor: pointer !important;
  background: #000;
  border: 0 !important;
  font-size: 14px !important;
  padding: 8px 13px !important;
  color: #fff;
  box-shadow: 0 3px 6px -1px rgba(0, 0, 0, 0.12) !important;
  border-bottom-right-radius: 3px !important;
  border-top-right-radius: 3px !important;
}

.inpush-countdown-collector-row button:focus {
  outline: 0;
}

@media (min-width: 576px) {
  .inpush-coupon-wrapper {
    max-width: 480px !important;
  }
}

.inpush-coupon-content {
  padding: 8px !important;
  display: flex !important;
  flex-direction: column !important;
  align-items: center !important;
}

.inpush-coupon-header {
  display: flex !important;
  margin-bottom: 8px !important;
}

.inpush-coupon-title {
  font-size: 18px !important;
  font-weight: 700 !important;
  flex-grow: 1 !important;
  margin-bottom: 0 !important;
}

.inpush-coupon-description {
  font-size: 16px !important;
  margin-bottom: 8px !important;
}

.inpush-coupon-image {
  width: 170px !important;
  border-radius: 8px !important;
  margin-right: 16px !important;
}

.inpush-coupon-coupon-code {
  background: #fff;
  border-radius: 8px !important;
  padding: 8px !important;
  text-align: center !important;
  font-weight: 700 !important;
  font-size: 18px !important;
  border: 2px dashed #000 !important;
  margin: 18px 0 !important;
}

.inpush-coupon-button {
  display: block !important;
  border-radius: 8px !important;
  padding: 8px !important;
  text-align: center !important;
  font-weight: 700 !important;
  font-size: 18px !important;
  margin: 18px 0 !important;
}

.inpush-coupon-button:hover {
  color: initial;
  opacity: 0.9 !important;
  text-decoration: none !important;
}

.inpush-coupon-footer {
  font-size: 14px !important;
  text-decoration: underline !important;
}

@media (min-width: 768px) {
  .inpush-coupon-content {
    flex-direction: row !important;
  }
}

.inpush-coupon-bar-wrapper {
  width: 100% !important;
  display: flex;
  justify-content: center;
}

.inpush-coupon-bar-content {
  display: flex !important;
  flex-direction: column !important;
}

.inpush-coupon-bar-row {
  display: flex !important;
  flex-direction: column !important;
}

.inpush-coupon-bar-title {
  font-size: 18px !important;
  font-weight: 700 !important;
  margin-bottom: 15px !important;
}

.inpush-coupon-bar-middle {
  display: flex !important;
  margin-bottom: 10px !important;
}

.inpush-coupon-bar-middle .inpush-close {
  margin-left: 10px !important;
}

.inpush-coupon-bar-coupon-code {
  flex-grow: 1 !important;
  font-size: 14px !important;
  background: #fff;
  border-radius: 4px !important;
  padding: 6px 12px !important;
  text-align: center !important;
  font-weight: 700 !important;
  border: 2px dashed #000;
}

@media (min-width: 768px) {
  .inpush-coupon-bar-row {
    flex-direction: row !important;
    align-items: center !important;
  }
  .inpush-coupon-bar-title {
    margin-right: 20px !important;
    margin-bottom: 0 !important;
  }
  .inpush-coupon-bar-middle {
    margin-bottom: 0 !important;
    align-items: center !important;
  }
  .inpush-coupon-bar-middle .inpush-close {
    margin-left: 20px !important;
  }
}

.inpush-email-collector-content {
  padding: 16px !important;
  display: flex !important;
  flex-direction: column !important;
}

.inpush-email-collector-header {
  display: flex !important;
  margin-bottom: 18px !important;
}

.inpush-email-collector-title {
  font-weight: 700 !important;
  font-size: 21px !important;
  flex-grow: 1 !important;
}

.inpush-email-collector-description {
  font-size: 14px !important;
  margin-bottom: 18px !important;
}

.inpush-email-collector-form {
  display: flex !important;
  flex-direction: column !important;
  margin-bottom: 18px !important;
}

.inpush-email-collector-row {
  display: flex !important;
  flex-direction: row !important;
  margin-bottom: 15px !important;
}

.inpush-email-collector-row input {
  border: 0 !important;
  background: #fff;
  padding: 6px 12px !important;
  color: #495057;
  font-size: 14px !important;
  box-shadow: 0 3px 6px -1px rgba(0, 0, 0, 0.12) !important;
  border-bottom-left-radius: 3px !important;
  border-top-left-radius: 3px !important;
  flex-grow: 1 !important;
}

.inpush-email-collector-row input:focus {
  outline: 0;
}

.inpush-email-collector-row button {
  cursor: pointer !important;
  background: #000;
  border: 0 !important;
  font-size: 14px !important;
  padding: 8px 13px !important;
  color: #fff;
  box-shadow: 0 3px 6px -1px rgba(0, 0, 0, 0.12) !important;
  border-bottom-right-radius: 3px !important;
  border-top-right-radius: 3px !important;
}

.inpush-email-collector-row button:focus {
  outline: 0;
}

@media (min-width: 576px) {
  .inpush-email-collector-wrapper {
    max-width: 390px !important;
  }
}

@media (min-width: 768px) {
  .inpush-email-collector-row input {
    flex-grow: 0 !important;
  }
}

@media (min-width: 576px) {
  .inpush-emoji-feedback-wrapper {
    max-width: 400px !important;
  }
}

.inpush-emoji-feedback-content {
  display: flex !important;
  flex-direction: column !important;
  align-items: center !important;
}

.inpush-emoji-feedback-header {
  width: 100% !important;
  display: flex !important;
}

.inpush-emoji-feedback-title {
  flex-grow: 1 !important;
  text-align: center !important;
  font-weight: 700 !important;
  font-size: 16px !important;
  margin: 5px 10px 10px 10px !important;
}

.inpush-emoji-feedback-emojis {
  display: flex !important;
  flex-direction: row !important;
  align-items: center !important;
  justify-content: space-around !important;
  margin-bottom: 10px !important;
  width: 100% !important;
}

.inpush-emoji-feedback-emoji {
  margin: 0 5px !important;
  transition: all 0.3s ease-in-out;
  width: 35px !important;
  height: 35px !important;
}

.inpush-emoji-feedback-emoji:hover {
  transform: scale(1.1);
  cursor: pointer;
}

.inpush-emoji-feedback-emoji-clicked {
  animation: inpush-emoji-feedback-emoji-click 1s !important;
}

@keyframes inpush-emoji-feedback-emoji-click {
  0% {
    transform: scale(1.1);
    opacity: 1;
  }
  50% {
    transform: scale(1.5);
    opacity: 0.7;
  }
  100% {
    transform: scale(1);
    opacity: 0;
  }
}

.inpush-engagement-links-wrapper {
  width: 300px !important;
  max-width: 325px !important;
}

.inpush-engagement-links-content {
  padding: 10px !important;
  display: flex !important;
  flex-direction: column !important;
}

.inpush-engagement-links-header {
  display: flex !important;
  align-items: center !important;
}

.inpush-engagement-links-title {
  font-size: 22px !important;
  font-weight: 700 !important;
  flex-grow: 1 !important;
  text-align: center !important;
  margin-bottom: 0 !important;
  cursor: pointer !important;
}

.inpush-engagement-links-hidden {
  display: none !important;
}

.inpush-engagement-links-shown {
  display: block !important;
  visibility: visible !important;
  animation: ease 0.3s fadeIn forwards !important;
}

.inpush-engagement-links-category-title {
  margin-bottom: 5px !important;
  text-align: center !important;
  font-size: 18px !important;
  color: #000;
}

.inpush-engagement-links-category-description {
  margin-bottom: 0 !important;
  text-align: center !important;
  font-size: 12px !important;
  color: #000;
}

.inpush-engagement-links-category-links {
  margin: 10px 0 !important;
  display: flex !important;
  flex-direction: column !important;
}

.inpush-engagement-links-category-link {
  display: flex !important;
  flex-direction: row !important;
  align-items: center !important;
  margin-bottom: 10px !important;
  padding: 4px 10px !important;
  border-radius: 6px !important;
  transition: all 0.3s !important;
  border-style: solid !important;
  border-width: 1px !important;
}

.inpush-engagement-links-category-link:hover {
  text-decoration: none !important;
  opacity: 0.9 !important;
}

.inpush-engagement-links-category-link-image {
  width: 20px !important;
  height: 20px !important;
  margin-right: 10px !important;
}

.inpush-engagement-links-category-link-title {
  font-size: 13px !important;
  font-weight: 700 !important;
  margin-bottom: 0 !important;
}

.inpush-engagement-links-category-link-description {
  font-size: 11px !important;
  margin-bottom: 0 !important;
}

.inpush-engagement-links-wrapper .inpush-close {
  margin-left: 15px !important;
}

@media (min-width: 768px) {
  .inpush-engagement-links-wrapper {
    width: 315px !important;
    max-width: 350px !important;
  }
}

@media (min-width: 576px) {
  .inpush-image-wrapper {
    max-width: 550px !important;
  }
}

.inpush-image-content {
  padding: 8px !important;
  display: flex !important;
  flex-direction: column !important;
  align-items: center !important;
}

.inpush-image-header {
  display: flex !important;
  margin-bottom: 8px !important;
  width: 100% !important;
}

.inpush-image-title {
  font-size: 21px !important;
  font-weight: 700 !important;
  flex-grow: 1 !important;
  text-align: center !important;
}

.inpush-image-image-img {
  max-width: 100% !important;
  max-height: 100% !important;
  border-radius: 8px !important;
}

.inpush-image-button {
  display: block !important;
  border-radius: 100px !important;
  padding: 10px 18px !important;
  text-align: center !important;
  font-weight: 700 !important;
  font-size: 16px !important;
  margin: 16px 0 !important;
}

.inpush-image-button:hover {
  color: initial;
  opacity: 0.9 !important;
  text-decoration: none !important;
}

.inpush-image-footer {
  font-size: 14px !important;
  text-decoration: underline !important;
}

@media (min-width: 576px) {
  .inpush-informational-wrapper {
    max-width: 400px !important;
  }
}

.inpush-informational-content {
  display: flex !important;
  flex-direction: row !important;
  align-items: center !important;
}

.inpush-informational-header {
  display: flex !important;
  width: 100% !important;
}

.inpush-informational-title {
  flex-grow: 1 !important;
  font-weight: 700 !important;
  margin-bottom: 0 !important;
}

.inpush-informational-description {
  font-size: 14px !important;
  margin-bottom: 0 !important;
}

.inpush-informational-image {
  min-width: 65px !important;
  height: 65px !important;
  margin-right: 8px !important;
}

.inpush-informational-bar-wrapper {
  width: 100% !important;
  display: flex;
  justify-content: center;
}

.inpush-informational-bar-content {
  display: flex !important;
  flex-direction: row !important;
  align-items: center !important;
}

.inpush-informational-bar-header {
  display: flex !important;
  width: 100% !important;
  margin-bottom: 5px !important;
}

.inpush-informational-bar-title {
  flex-grow: 1 !important;
  font-weight: 700 !important;
  margin-bottom: 0 !important;
}

.inpush-informational-bar-description {
  font-size: 14px !important;
  margin-bottom: 5px !important;
}

.inpush-informational-bar-image {
  min-width: 65px !important;
  height: 65px !important;
  margin-right: 25px !important;
}

@media (min-width: 576px) {
  .inpush-latest-conversion-wrapper {
    max-width: 350px !important;
  }
}

.inpush-latest-conversion-content {
  display: flex !important;
  flex-direction: row !important;
  align-items: center !important;
}

.inpush-latest-conversion-header {
  display: flex !important;
  align-items: center !important;
}

.inpush-latest-conversion-title {
  font-weight: 700 !important;
  margin-bottom: 0 !important;
  font-size: 14px !important;
  flex-grow: 1 !important;
}

.inpush-latest-conversion-description {
  font-size: 13px !important;
  margin-bottom: 0 !important;
}

.inpush-latest-conversion-image {
  width: 35px !important;
  height: 35px !important;
  margin-right: 16px !important;
}

.inpush-latest-conversion-footer {
  display: flex !important;
  flex-direction: row !important;
  justify-content: space-between !important;
}

.inpush-latest-conversion-time {
  font-size: 11px !important;
  color: grey;
}

.inpush-live-counter-wrapper {
  width: 220px !important;
}

@media (min-width: 576px) {
  .inpush-live-counter-wrapper {
    width: 280px !important;
  }
}

.inpush-live-counter-content {
  display: flex !important;
  flex-direction: column !important;
  align-items: center !important;
}

.inpush-live-counter-header {
  display: flex !important;
  width: 100% !important;
}

.inpush-live-counter-main {
  display: flex !important;
  flex-direction: row !important;
  align-items: center !important;
  justify-content: center !important;
  flex-grow: 1 !important;
}

.inpush-live-counter-number {
  padding: 3px 32px !important;
  border-radius: 4px !important;
  font-weight: bolder !important;
  font-size: 21px !important;
}

.inpush-live-counter-close {
  align-self: end !important;
}

.inpush-live-counter-description {
  font-size: 14px !important;
  margin-bottom: 16px !important;
}

@media (min-width: 576px) {
  .inpush-random-review-wrapper {
    max-width: 400px !important;
  }
}

.inpush-random-review-content {
  display: flex !important;
  flex-direction: row !important;
  align-items: center !important;
}

.inpush-random-review-header {
  display: flex !important;
  flex-direction: row !important;
  justify-content: space-between !important;
  align-items: center !important;
}

.inpush-random-review-stars {
  display: flex !important;
  flex-direction: row !important;
  align-items: center !important;
}

.inpush-random-review-stars div {
  margin-right: 1px !important;
}

.inpush-random-review-title {
  font-weight: 700 !important;
  margin-bottom: 0 !important;
  margin-right: 15px !important;
}

.inpush-random-review-description {
  font-size: 14px !important;
  font-style: italic;
  margin-bottom: 0 !important;
}

.inpush-random-review-image {
  min-width: 65px !important;
  height: 65px !important;
  margin-right: 8px !important;
}

@media (min-width: 576px) {
  .inpush-request-collector-wrapper {
    max-width: 390px !important;
  }
}

.inpush-request-collector-content {
  padding: 5px !important;
  display: flex !important;
  flex-direction: column !important;
  align-items: center !important;
}

.inpush-request-collector-header {
  display: flex !important;
  flex-direction: row !important;
  align-items: center !important;
  margin-bottom: 25px !important;
  width: 100% !important;
}

.inpush-request-collector-image {
  min-width: 40px !important;
  height: 40px !important;
  margin-right: 8px !important;
}

.inpush-request-collector-header-text {
  flex-grow: 1 !important;
}

.inpush-request-collector-title {
  font-weight: 700 !important;
  font-size: 16px !important;
  margin-bottom: 0 !important;
}

.inpush-request-collector-description {
  font-size: 14px !important;
  margin-bottom: 0 !important;
}

.inpush-request-collector-content-title {
  font-weight: 700 !important;
  font-size: 18px !important;
  margin-bottom: 0 !important;
}

.inpush-request-collector-content-description {
  font-size: 16px !important;
  margin-bottom: 25px !important;
}

.inpush-request-collector-close {
  align-self: end !important;
}

.inpush-request-collector-form {
  display: flex !important;
  flex-direction: column !important;
  margin-bottom: 15px !important;
}

.inpush-request-collector-row {
  display: flex !important;
  flex-direction: row !important;
  margin-bottom: 15px !important;
}

.inpush-request-collector-row input {
  border: 0 !important;
  background: #fff;
  padding: 6px 12px !important;
  color: #495057;
  font-size: 14px !important;
  box-shadow: 0 3px 6px -1px rgba(0, 0, 0, 0.12) !important;
  border-radius: 3px 0 0 3px !important;
}

.inpush-request-collector-row input:focus {
  outline: 0;
}

.inpush-request-collector-row button {
  cursor: pointer !important;
  background: #000;
  border: 0 !important;
  font-size: 14px !important;
  padding: 8px 13px !important;
  color: #fff;
  box-shadow: 0 3px 6px -1px rgba(0, 0, 0, 0.12) !important;
  border-radius: 0 3px 3px 0 !important;
}

.inpush-request-collector-row button:focus {
  outline: 0;
}

@media (min-width: 576px) {
  .inpush-score-feedback-wrapper {
    max-width: 400px !important;
  }
}

.inpush-score-feedback-content {
  display: flex !important;
  flex-direction: column !important;
  align-items: center !important;
}

.inpush-score-feedback-header {
  width: 100% !important;
  display: flex !important;
}

.inpush-score-feedback-title {
  flex-grow: 1 !important;
  text-align: center !important;
  font-weight: 700 !important;
  font-size: 16px !important;
  margin: 5px 10px 10px 10px !important;
}

.inpush-score-feedback-description {
  font-size: 12px !important;
  margin-bottom: 10px !important;
}

.inpush-score-feedback-scores {
  display: flex !important;
  flex-direction: row !important;
  align-items: center !important;
  justify-content: space-around !important;
  width: 100% !important;
}

.inpush-score-feedback-button {
  border-radius: 4px !important;
  padding: 4px 10px !important;
  text-align: center !important;
  font-weight: 700 !important;
  font-size: 16px !important;
  margin: 10px 0 !important;
  display: block !important;
  border: 0 !important;
  transition: all 0.3s !important;
}

.inpush-score-feedback-button:hover {
  opacity: 0.9 !important;
  transform: scale(1.1);
  cursor: pointer !important;
}

.inpush-score-feedback-button-clicked {
  animation: inpush-score-feedback-button-click 1s !important;
}

@keyframes inpush-score-feedback-button-click {
  0% {
    transform: scale(1.1);
    opacity: 1;
  }
  50% {
    transform: scale(1.5);
    opacity: 0.7;
  }
  100% {
    transform: scale(1);
    opacity: 0;
  }
}

@media (min-width: 576px) {
  .inpush-social-share-wrapper {
    max-width: 350px !important;
  }
}

.inpush-social-share-content {
  padding: 8px !important;
  display: flex !important;
  flex-direction: column !important;
  align-items: center !important;
}

.inpush-social-share-header {
  display: flex !important;
  width: 100% !important;
}

.inpush-social-share-title {
  flex-grow: 1 !important;
  text-align: center !important;
  font-size: 20px !important;
  font-weight: 700 !important;
}

.inpush-social-share-description {
  text-align: center !important;
  font-size: 14px !important;
  margin-bottom: 16px !important;
}

.inpush-social-share-buttons {
    display: flex !important;
    flex-direction: row !important;
    justify-content: center !important;;
    width: 100% !important;
    margin: 16px 0 !important;
}

.inpush-social-share-button {
  background: #000;
  color: #fff;
  display: inline-block !important;
  border-radius: 4px !important;
  padding: 6px 10px !important;
  text-align: center !important;
  font-weight: 700 !important;
  font-size: 14px !important;
  border-bottom: 2px #00000014 solid !important;
  border-right: 2px #00000014 solid !important;
}

.inpush-social-share-button-vk {
    background: #6287ae !important;
    margin-right: 5px !important;
    margin-left: 5px !important;
}

.inpush-social-share-button-ok {
    background: #d7772d !important;
    margin-right: 5px !important;
    margin-left: 5px !important;
}

.inpush-social-share-button-telegram {
    background: #0088cc !important;
    margin-right: 5px !important;
    margin-left: 5px !important;
}

.inpush-social-share-button:hover {
  color: #fff;
  opacity: 0.9 !important;
  text-decoration: none !important;
}

.inpush-social-share-footer {
  font-size: 14px !important;
  text-decoration: underline !important;
}

.inpush-text-feedback-content {
  padding: 5px 10px !important;
  display: flex !important;
  flex-direction: column !important;
}

.inpush-text-feedback-header {
  display: flex !important;
  align-items: center !important;
}

.inpush-text-feedback-title {
  font-size: 22px !important;
  flex-grow: 1 !important;
  text-align: center !important;
  margin-bottom: 0 !important;
  cursor: pointer !important;
}

.inpush-text-feedback-expand {
  padding: 5px !important;
  margin-right: 5px !important;
  border: 0 !important;
  background: 0 0 !important;
}

.inpush-text-feedback-hidden {
  display: none !important;
}

.inpush-text-feedback-shown {
  display: block !important;
  visibility: visible !important;
  animation: ease 0.3s fadeIn forwards !important;
}

.inpush-text-feedback-description {
  font-size: 14px !important;
  margin-bottom: 15px !important;
  text-align: center !important;
}

.inpush-text-feedback-form {
  margin-bottom: 20px !important;
}

.inpush-text-feedback-row {
  display: flex !important;
  flex-direction: column !important;
  margin-bottom: 15px !important;
}

.inpush-text-feedback-row input {
  border: 1px solid #d8d8d8 !important;
  background: #fff;
  padding: 10px 12px !important;
  color: #495057;
  font-size: 14px !important;
  border-radius: 5px !important;
  flex-grow: 1 !important;
  margin-bottom: 10px !important;
  transition: 0.3s border !important;
}

.inpush-text-feedback-row input:hover {
  border: 1px solid #e5e5e5 !important;
}

.inpush-text-feedback-row button {
  flex-grow: 1 !important;
  cursor: pointer !important;
  background: #000;
  border: 0 !important;
  font-size: 16px !important;
  font-weight: 700;
  padding: 10px 14px !important;
  color: #fff;
  border-radius: 5px !important;
  transition: 0.3s opacity !important;
}

.inpush-text-feedback-row button:hover {
  opacity: 0.95 !important;
}

.inpush-text-feedback-wrapper .inpush-close {
  margin-left: 15px !important;
}

@media (min-width: 768px) {
  .inpush-text-feedback-wrapper {
    max-width: 700px !important;
  }
}

@media (min-width: 576px) {
  .inpush-video-wrapper {
    max-width: 450px !important;
  }
}

.inpush-video-content {
  padding: 8px !important;
  display: flex !important;
  flex-direction: column !important;
  align-items: center !important;
}

.inpush-video-header {
  display: flex !important;
  margin-bottom: 8px !important;
  width: 100% !important;
}

.inpush-video-title {
  font-size: 21px !important;
  font-weight: 700 !important;
  flex-grow: 1 !important;
  text-align: center !important;
}

.inpush-video-video-container {
  border-radius: 8px !important;
  overflow: hidden !important;
  height: 220px !important;
}

.inpush-video-video-iframe {
  width: 100% !important;
  height: 220px !important;
}

.inpush-video-button {
  display: block !important;
  border-radius: 8px !important;
  padding: 10px 13px !important;
  text-align: center !important;
  font-weight: 700 !important;
  font-size: 16px !important;
  margin: 16px 0 !important;
}

.inpush-video-button:hover {
  color: initial;
  opacity: 0.9 !important;
  text-decoration: none !important;
}

.inpush-video-footer {
  font-size: 14px !important;
  text-decoration: underline !important;
}
